* {
  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

main,
header {
  padding: 0 10%;
}

header .container {
  padding-left: 9rem;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  bottom: 0;
  right: 0;
  left: 0;
}

footer .content {
  padding-left: 10rem;
  font-weight: 700;
  font-size: 18px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 1rem;
}

.cards .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-right: 55%;
  margin-top: 1rem;
  gap: 3rem;
}

header {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.ptr {
  cursor: pointer;
}

.logo {
  width: 10rem;
  height: 4rem;
  content: url("./images/tvm-header-logo.png");
}

.title-like {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards .card-image {
  width: fit-content;
  height: auto;
  text-align: center;
  display: inline-block;
}

.image-close img {
  margin-top: 2%;
  width: 35rem;
  margin-left: -6rem;
  height: auto;
  object-fit: contain;
  border: 3px solid #71c5bb;
}

.cards .card-image img {
  object-fit: cover;
}

button {
  height: 40px;
  border-radius: 3px;
  border-color: #71c5bb;
  width: 150px;
  box-shadow: 5px 5px #71c5bb;
}

.likes .icon {
  height: 20px;
  width: 20px;
  content: url("./images/heart.png");
}

.comments {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments .container {
  opacity: 1;
  width: 70%;
  background-color: #fff;
  height: 95%;
  border: 2px solid #71c5bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  border-radius: 5px;
  position: relative;
}

.show-details {
  margin-left: -4rem;
}

.show-details .descriptions {
  width: 37vw;
  margin-top: -3%;
  font-size: 18px;
  font-weight: 550;
}

.card-comments {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.comment-header {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 600;
}

.comment-lists {
  width: 100%;
}

.close {
  width: 2%;
  content: url("./images/close.png");
  height: 3%;
  position: absolute;
  top: 3%;
  right: 3%;
}

input {
  width: 200px;
  margin-bottom: 1rem;
  height: 25px;
  border: 3px solid #71c5bb;
  font-size: 16px;
  font-weight: 600;
}

textarea {
  border: 3px solid #71c5bb;
}

.add-comment {
  margin-bottom: 2rem;
}

.commnet-controls {
  width: 100%;
  padding-bottom: 5rem;
}

#submit-comment {
  position: absolute;
  margin-top: 13rem;
  margin-bottom: 2rem;
}

input::placeholder {
  color: black;
}

.show-name {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  font-size: 40px;
  font-weight: 600;
}

.likes-count p {
  font-weight: 700;
  font-size: 13px;
  margin-top: 2px;
}

.show-title p {
  font-weight: 700;
  margin-top: 1px;
  margin-left: 0.3rem;
}

#tv-shows p {
  font-weight: 800;
}

.title-like .likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
}
